
<div class="login-view">
	<div class="login-window">
		<form ng-submit="test()" novalidate>
			<div class="loginTil">闪耀绘后台管理</div>
			<input ng-model="adminName" type="text" class="login-txtBtn" placeholder="用户名">
			<input ng-model="adminPwd" type="text" class="login-txtBtn" placeholder="密码">
			<div class="rememberBtn">
				<input class="login-chBtn" type="checkbox">
				<span>使我保持登录状态</span>
			</div>
			<input ng-click="test()" type="submit" class="loginBtn" value="登录">
		</form>
	</div>
</div>	