.products-content{
	background: #FFF;
	-webkit-webkit-border-radius: 4px;
	-moz-webkit-border-radius: 4px;
	-ms-webkit-border-radius: 4px;
	-o-webkit-border-radius: 4px;
	webkit-border-radius: 4px;
}