@charset "UTF-8";.index-wrap{width:100%;height:100%;padding:0}
.index-aside{background:#2a3542;height:100%}
.index-aside ul{padding:10px 0}
.index-aside li{padding:12px 10px;margin:4px;color:#aeb2b7;font:12px "微软雅黑"}
.index-aside li:hover{background:#35404d;border-radius:4px;-webkit-border-radius:4px;-moz-webkit-border-radius:4px;-ms-webkit-border-radius:4px;-o-webkit-border-radius:4px}
.index-content{background:#f1f2f7;height:100%}
